{% extends 'base.html.twig' %}

{% block title %}New Passager{% endblock %}

{% block body %}
    <h1>Create new Passager</h1>

    {{ include('passager/_form.html.twig') }}

    <a href="{{ path('app_passager_index') }}">back to list</a>
{% endblock %}
